In [ ]:
!pip install pandasql

Расшифровка значений таргета
"""
0: 1-29 days past due 
1: 30-59 days past due
2: 60-89 days overdue 
3: 90-119 days overdue 
4: 120-149 days overdue
5: Overdue or bad debts, write-offs for more than 150 days 
C: paid off that month 
X: No loan for the month
"""

In [ ]:
!git clone https://github.com/ls25-17/pandas_and_sql_tasks.git

In [ ]:
cd pandas_and_sql_tasks

In [ ]:
import pandas as pd
import sqlite3
import pandasql as ps

In [ ]:
# импортим файл
data = ...

In [ ]:
# верхнеуровнево смотрим на него (первые/последние N строчек)

In [ ]:
conn = sqlite3.connect(':memory:') 
 
# сохранить DataFrame как таблицу в базе данных 
data.to_sql('my_table', conn, index=False)

In [ ]:
# выводим список колонок

In [ ]:
# SQL
q1 = """
    SELECT * from my_table
    """

result = pd.read_sql_query(q1, conn) 
result.head()